/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

input[type=text].invalid-textbox,input[type=password].invalid-textbox{
    border-bottom: 2px solid #ed5558;
    }
    
    label.validation-message{
      color:#ed5558;
      font-size: 60%;
    }
    .success{
        padding: 15px;
        background-color:#249424; /* Green */
        color: white;
        margin-bottom: 15px;
      }
      .alert {
        padding: 20px;
        background-color: #f44336; /* Red */
        color: white;
        margin-bottom: 15px;
      }